<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">TaskyJ.Interface.Angular</a> {{ user }}
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" onclick="window.location.reload()">Refresh ↺</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/task/new']">Add new +</a>
          </li>
          <li *ngIf="!showdeleted" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/tasklist']" [queryParams]="{ showdeleted: true }">Show deleted Ѻ</a>
          </li>
          <li *ngIf="showdeleted" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/tasklist']" [queryParams]="{ showdeleted: false }">Hide deleted Ѻ</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/users']">Manage users 👤</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
