<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.123" targetFramework="monoandroid90" />
  <package id="EntityFramework" version="6.4.4" targetFramework="monoandroid90" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="monoandroid90" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.0" targetFramework="monoandroid71" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid90" />
  <package id="Stub.System.Data.SQLite.Core.NetStandard" version="1.0.115.5" targetFramework="monoandroid90" />
  <package id="System.Buffers" version="4.5.1" targetFramework="monoandroid71" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="monoandroid71" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="monoandroid44" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="monoandroid44" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="monoandroid90" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="monoandroid71" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="monoandroid90" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="monoandroid90" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="monoandroid90" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="monoandroid90" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="monoandroid44" />
  <package id="System.Memory" version="4.5.4" targetFramework="monoandroid71" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="monoandroid90" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="monoandroid90" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid44" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="monoandroid71" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="monoandroid71" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="monoandroid90" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid44" />
</packages>